<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Car Showroom Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/showrooms" routerLinkActive="active">Showrooms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cars" routerLinkActive="active">Cars</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin()">
            <a class="nav-link" routerLink="/users" routerLinkActive="active">users</a>
          </li>
        </ul>
        <div class="ms-auto" *ngIf="isLoggedIn()">
          <a class="navbar-text cursor-pointer" (click)="onLogout()">Logout</a>
        </div>
      </div>
    </div>
  </nav>